{
  "servers": [
    {
      "name": "Server A",
      "host": "http://<HOST_A>:8266",
      "flow_id": "<FLOW_ID_A>",
      "api_key": "<TDARR_API_KEY_A>",
      "overrides": {
        "var_rm_commentary": { "value": "true" },
        "var_enable_plex": { "value": "false" },
        "var_enable_arr": { "value": "true" },
        "var_auto_accept": { "value": "true" },
        "web_plex": {
          "url": "http://<PLEX_HOST>:32400/library/sections/all/refresh?X-Plex-Token=<PLEX_TOKEN>",
          "method": "GET"
        },
        "arr_notify": {
          "arr": "radarr",
          "arr_host": "http://<RADARR_HOST>:7878",
          "arr_api_key": "<RADARR_API_KEY>"
        }
      }
    },
    {
      "name": "Server B",
      "host": "http://<HOST_B>:8266",
      "flow_id": "<FLOW_ID_B>",
      "api_key": "<TDARR_API_KEY_B>",
      "overrides": {
        "var_rm_commentary": { "value": "true" },
        "var_enable_plex": { "value": "false" },
        "var_enable_arr": { "value": "true" },
        "var_auto_accept": { "value": "true" },
        "web_plex": {
          "url": "http://<PLEX_HOST>:32400/library/sections/all/refresh?X-Plex-Token=<PLEX_TOKEN>",
          "method": "GET"
        },
        "arr_notify": {
          "arr": "sonarr",
          "arr_host": "http://<SONARR_HOST>:8989",
          "arr_api_key": "<SONARR_API_KEY>"
        }
      }
    }
  ]
}
