{
  "servers": [
    {
      "name": "Server A",
      "host": "http://<HOST_A>:8266",
      "flow_id": "<FLOW_ID_A>",
      "overrides": {
        "var_enable_arr": { "value": "true" },
        "var_enable_plex": { "value": "false" },
        "arr_notify": {
          "arr": "radarr",
          "arr_host": "http://<RADARR_HOST>:7878",
          "arr_api_key": "<RADARR_API_KEY>"
        }
      }
    },
    {
      "name": "Server B",
      "host": "http://<HOST_B>:8266",
      "flow_id": "<FLOW_ID_B>",
      "overrides": {
        "var_enable_arr": { "value": "true" },
        "var_enable_plex": { "value": "false" },
        "arr_notify": {
          "arr": "sonarr",
          "arr_host": "http://<SONARR_HOST>:8989",
          "arr_api_key": "<SONARR_API_KEY>"
        }
      }
    }
  ]
}
